<h2>System settings</h2>
<hr>

<form class="row col-md-12" [formGroup]="systemsettingForm" (ngSubmit)="AddSystem()">
    <div class="col-md-12 p-1 m-0 mb-2" style="background-color: #f7f7f8; border-radius: 20px;">System Settings</div>
    <div class="col-md-12 row">
        <div class="form-group col-md-4">
            <label class="col-md-8 control-label " for="currency">Default Currency</label>
            <div class="col-md-12 ">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="currency_id">
                    <option *ngFor="let item of CurrencyArray " [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>
                <div id="currency_id" *ngIf="systemsettingForm.controls['currency_id'].touched &&systemsettingForm.controls['currency_id'].invalid || submitted && systemsettingForm.controls['currency_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="systemsettingForm.controls['currency_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.currency_id">{{errors?.currency_id}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="email">Default Email</label>
            <div class="col-md-12">
                <input id="email" name="email" placeholder="admin@admin.com" class="form-control input-md" required
                    type="email" formControlName="email">
                <div id="email"
                    *ngIf="systemsettingForm.controls['email'].touched &&systemsettingForm.controls['email'].invalid || submitted && systemsettingForm.controls['email'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="systemsettingForm.controls['email'].errors?.['required']">This field is
                        required</small>
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.email">{{errors?.email}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label " for="logo">Change Logo</label>
            <div class="col-md-12">
                <input id="file" name="file" class="form-control input-md"  type="file"
                    formControlName="image">
                    <div id="image"
                    *ngIf="systemsettingForm.controls['image'].touched &&systemsettingForm.controls['image'].invalid || submitted && systemsettingForm.controls['image'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="systemsettingForm.controls['image'].errors?.['required']">This field is
                        required</small>
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.image">{{errors?.image}}</small>
                </div>   
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="companyName">Company Name</label>
            <div class="col-md-12">
                <input id="CompanyName" name="CompanyName" placeholder="company" class="form-control input-md" required type="text"
                    formControlName="CompanyName">
                <div id="CompanyName"
                    *ngIf="systemsettingForm.controls['CompanyName'].touched &&systemsettingForm.controls['CompanyName'].invalid || submitted && systemsettingForm.controls['CompanyName'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="systemsettingForm.controls['CompanyName'].errors?.['required']">This field is
                        required</small>
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.CompanyName">{{errors?.CompanyName}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="companyPhone">Company Phone</label>
            <div class="col-md-12">
                <input id="companyPhone" name="CompanyPhone" placeholder="01019589457" class="form-control input-md" required
                    type="text" formControlName="CompanyPhone">
                <div id="CompanyPhone"
                    *ngIf="systemsettingForm.controls['CompanyPhone'].touched &&systemsettingForm.controls['CompanyPhone'].invalid || submitted && systemsettingForm.controls['CompanyPhone'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="systemsettingForm.controls['CompanyPhone'].errors?.['required']">This field is
                        required</small>
                        <small *ngIf="systemsettingForm.controls['CompanyPhone'].errors?.['pattern']">This field is
                            CompanyPhone</small>    
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.CompanyPhone">{{errors?.CompanyPhone}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="develobedBy">Developed by</label>
            <div class="col-md-12">
                <input id="develobedBy" name="develobedBy" placeholder="" class="form-control input-md"
                     type="text" formControlName="developed_by">
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="footer">footer</label>
            <div class="col-md-12">
                <input id="footer" name="footer" placeholder="footer"
                    class="form-control input-md" type="text" formControlName="footer">
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="defultCustomer">Default Customer</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="client_id">
                    <option *ngFor="let item of ClientArray " [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>
                <div id="client_id"
                    *ngIf="systemsettingForm.controls['client_id'].touched &&systemsettingForm.controls['client_id'].invalid || submitted && systemsettingForm.controls['client_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="systemsettingForm.controls['client_id'].errors?.['required']">This field is
                        required</small>
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.client_id">{{errors?.client_id}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-12 control-label" for="warehouse">Default Warehouse</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example"
                    formControlName="warehouse_id">
                    <option *ngFor="let item of WarehousArray " [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>
                <div id="warehouse_id"
                    *ngIf="systemsettingForm.controls['warehouse_id'].touched &&systemsettingForm.controls['warehouse_id'].invalid || submitted && systemsettingForm.controls['warehouse_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="systemsettingForm.controls['warehouse_id'].errors?.['required']">This field is
                        required</small>
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.warehouse_id">{{errors?.warehouse_id}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="col-md-8 control-label" for="CompanyAddress">Address</label>
            <div class="col-md-12">
                <textarea class="form-control" placeholder="Egypt" id="CompanyAddress" rows="3"
                    formControlName="CompanyAddress"></textarea>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-4">
                <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </div>
</form>

<br><br>
<!-- <form class="row col-md-12" [formGroup]="PaymentGateway" (ngSubmit)="paymentSubmit()">
    <div class="col-md-12 p-1 m-0 mb-2" style="background-color: #f7f7f8; border-radius: 20px;">Payment Gateway</div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="stripe-key">STRIPE_KEY</label>
        <div class="col-md-12">
            <input id="stripe-key" name="stripe-key"
                placeholder="please leave this field blank if you haven't change it" class="form-control input-md"
                required="" type="password" formControlName="stripe">
            <div id="stripe" *ngIf="PaymentGateway.controls['stripe'].touched &&PaymentGateway.controls['stripe'].invalid"
                class="form-text text-danger">
                <small *ngIf="PaymentGateway.controls['stripe'].errors?.['required']">This field is
                    required</small>
            </div>
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label " for="stripe-secret">STRIPE_SECRET</label>
        <div class="col-md-12">
            <input id="stripe-secret" name="stripe-secret"
                placeholder="please leave this field blank if you haven't change it" class="form-control input-md"
                required="" type="password" formControlName="stripesecret">
            <div id="stripesecret" *ngIf="PaymentGateway.controls['stripesecret'].touched &&PaymentGateway.controls['stripesecret'].invalid"
                class="form-text text-danger">
                <small *ngIf="PaymentGateway.controls['stripesecret'].errors?.['required']">This field is
                    required</small>
            </div>
        </div>
    </div>

    <div class="custom-control custom-switch custom-control-inline mb-1">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" />
        <label class="custom-control-label" for="customSwitch1">Delete Stripe API keys</label>
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<br><br>
<form class="row col-md-12" [formGroup]="smsconfi" (ngSubmit)="smsSubmit()">
    <div class="col-md-12 p-1 m-0 mb-2" style="background-color: #f7f7f8; border-radius: 20px;">SMS Configuration</div>
    <div class="col-md-12 row">
        <div class="form-group col-md-6">
            <label class="col-md-8 control-label " for="payment">Payment Gateway</label>
            <div class="col-md-12 ">
                <select class="form-select col-md-12 " aria-label="Default select example">
                    <option selected>Twilio</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="Twilio-sid">TWILIO_SID</label>
            <div class="col-md-12">
                <input id="Twiliosid" name="Twiliosid" class="form-control input-md" required="" type="text" formControlName="Twiliosid">
                <div id="Twiliosid"
                    *ngIf="smsconfi.controls['Twiliosid'].touched &&smsconfi.controls['Twilio-sid'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="smsconfi.controls['Twiliosid'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="twilio-token">TWILIO_TOKEN</label>
            <div class="col-md-12">
                <input id="twiliotoken" name="twiliotoken"
                    placeholder="please leave this field blank if you haven't change it" class="form-control input-md"
                    required="" type="text" formControlName="twiliotoken">
                <div id="twiliotoken"
                    *ngIf="smsconfi.controls['twiliotoken'].touched &&smsconfi.controls['twiliotoken'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="smsconfi.controls['twiliotoken'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="twilio-from">TWILIO_FROM</label>
            <div class="col-md-12">
                <input id="twiliofrom" name="twiliofrom" class="form-control input-md" required="" type="text" formControlName="twiliofrom">

                <div id="twiliofrom"
                    *ngIf="smsconfi.controls['twiliofrom'].touched &&smsconfi.controls['twiliofrom'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="smsconfi.controls['twiliofrom'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </div>
</form>

<br><br>

<form class="row col-md-12" [formGroup]="smtpconfi" (ngSubmit)="SmtpSubmit()">
    <div class="col-md-12 p-1 m-0 mb-2" style="background-color: #f7f7f8; border-radius: 20px;">SMTP Configuration</div>
    <div class="col-md-12 row">
        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="host">HOST</label>
            <div class="col-md-12">
                <input id="host" name="host" placeholder="HOST" class="form-control input-md" required="" type="text"formControlName="host" >
                <div id="host"
                    *ngIf="smtpconfi.controls['host'].touched &&smtpconfi.controls['host'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="smtpconfi.controls['host'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="port">PORT</label>
            <div class="col-md-12">
                <input id="port" name="port" placeholder="PORT" class="form-control input-md" required="" type="text" formControlName="port">
                <div id="port"
                    *ngIf="smtpconfi.controls['port'].touched &&smtpconfi.controls['port'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="smtpconfi.controls['port'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="username">Username</label>
            <div class="col-md-12">
                <input id="username" name="username" placeholder="test" class="form-control input-md" required=""
                    type="text" formControlName="username">
                <div id="username"
                    *ngIf="smtpconfi.controls['username'].touched &&smtpconfi.controls['username'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="smtpconfi.controls['username'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="password">Password</label>
            <div class="col-md-12">
                <input id="password" name="password" placeholder="test" class="form-control input-md" required=""
                    type="password" formControlName="password">
                <div id="password"
                    *ngIf="smtpconfi.controls['password'].touched &&smtpconfi.controls['password'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="smtpconfi.controls['password'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="encryption">Encryption</label>
            <div class="col-md-12">
                <input id="encryption" name="encryption" placeholder="tls" class="form-control input-md" required=""
                    type="text" formControlName="encryption">
                <div id="encryption"
                    *ngIf="smtpconfi.controls['encryption'].touched &&smtpconfi.controls['encryption'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="smtpconfi.controls['encryption'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </div>
</form>

<br><br>

<form class="row col-md-12">
    <div class="col-md-12 p-1 m-0 mb-2" style="background-color: #f7f7f8; border-radius: 20px;">Clear Cache</div>

    <div class="form-group col-md-12 ">
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Clear Cache</button>
        </div>
    </div>

</form>
 -->