<body>
    <h2>Create Expence
    </h2>
    <hr>
    <form class="row col-md-12" [formGroup]="createExpenseForm" (ngSubmit)="store()">
        <div class="col-md-12 row">

            <div class="form-group col-md-4">
                <label class="col-md-4 control-label " for="category">Date</label>
                <div class="col-md-12 ">
                    <input class="form-control form-control col-md-11" type="date" placeholder="Date" aria-label="Date"
                        formControlName="date">

                    <div id="date"
                        *ngIf="createExpenseForm.controls['date'].touched &&createExpenseForm.controls['date'].invalid || submitted && createExpenseForm.controls['date'].invalid"
                        class="form-text text-danger">
                        <small *ngIf="createExpenseForm.controls['date'].errors?.['required']">This field is
                            required</small>
                    </div>

                    <div class="form-text text-danger">
                        <small *ngIf="errors?.date">{{errors?.date}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-8 control-label " for="category"> Warehouse</label>
                <div class="col-md-12 ">
                    <select class="form-select col-md-12 " aria-label="Default select example"
                        formControlName="warehouse_id">
                        <option *ngFor="let item of WarehousArray" [value]="item.id">

                            {{ item.name }}

                        </option>
                    </select>

                    <div id="warehouse_id"
                        *ngIf="createExpenseForm.controls['warehouse_id'].touched &&createExpenseForm.controls['warehouse_id'].invalid || submitted && createExpenseForm.controls['warehouse_id'].invalid"
                        class="form-text text-danger">
                        <small *ngIf="createExpenseForm.controls['warehouse_id'].errors?.['required']">This field is
                            required</small>
                    </div>

                    <div class="form-text text-danger">
                        <small *ngIf="errors?.warehouse_id">{{errors?.warehouse_id}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-8 control-label " for="expense_category_id">Expence Warehouse</label>
                <div class="col-md-12 ">
                    <select class="form-select col-md-12 " aria-label="Default select example"
                        formControlName="expense_category_id">
                        <option *ngFor="let item of expenseCategories" [value]="item.id">
                            {{ item.name }}
                        </option>
                    </select>

                    <div id="expense_category_id"
                        *ngIf="createExpenseForm.controls['expense_category_id'].touched &&createExpenseForm.controls['expense_category_id'].invalid || submitted && createExpenseForm.controls['expense_category_id'].invalid"
                        class="form-text text-danger">
                        <small *ngIf="createExpenseForm.controls['expense_category_id'].errors?.['required']">This field is
                            required</small>
                    </div>

                    <div class="form-text text-danger">
                        <small *ngIf="errors?.expense_category_id">{{errors?.expense_category_id}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label " for="amount">Amount</label>
                <div class="col-md-12 ">
                    <input class="form-control form-control col-md-11" type="text" placeholder="Amount"
                        aria-label="Date" id="amount" name="amount" formControlName="amount">
                    <div id="amount"
                        *ngIf="createExpenseForm.controls['amount'].touched &&createExpenseForm.controls['amount'].invalid || submitted && createExpenseForm.controls['amount'].invalid"
                        class="form-text text-danger">
                        <small *ngIf="createExpenseForm.controls['amount'].errors?.['required']">This field is
                            required</small>
                    </div>

                    <div class="form-text text-danger">
                        <small *ngIf="errors?.amount">{{errors?.amount}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-8 ">
                <label for="exampleFormControlTextarea1" class="form-label ">Details</label>
                <textarea class="form-control " id="note" rows="3" formControlName="note" name="note"
                    formControlName="details"></textarea>

                <div id="details"
                    *ngIf="createExpenseForm.controls['details'].touched &&createExpenseForm.controls['details'].invalid || submitted && createExpenseForm.controls['details'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createExpenseForm.controls['details'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.details">{{errors?.details}}</small>
                </div>

            </div>
        </div>



        <div class="form-group col-md-12">
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary" >Submit</button>
            </div>
        </div>
    </form>
</body>