body{
    background: white;
    border-radius: 20px;
    padding: 20px;
    
}
select{
    border-radius: 5px;
    padding: 7px;
    border: 1px gainsboro solid;
    height:39px;
}
.icon{
    padding-left: 10px;
    padding-top: 6px;
    text-align: left;
}
table{
    margin-top: 20px;
    text-align: left;
    border-radius: 10px;
}
#btn{
    height:10px;
    width: 10px;
}
.quantity{
    width: 60px;
}
 
button{
    background-color: blueviolet;
}
ul{
    list-style: none;
    margin: 0 auto;
    text-align: left;
    margin-right: 10px;
  }
  
  ul li{
    padding: 5px;
    overflow: hidden;
  }
  
  ul li p{
    font-weight: bold;
    padding-top: 7px;
  }