<h2>Create Product</h2>
<hr>

<form class="row col-md-12" [formGroup]="createproduct" (ngSubmit)="AddProduct()">
    <div class="col-md-8 row">
        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="name">PRODUCT NAME</label>
            <div class="col-md-12">
                <input id="name" name="name" placeholder="PRODUCT NAME" class="form-control input-md"
                    required type="text" formControlName="name">
                <div id="name" *ngIf="createproduct.controls['name'].touched &&createproduct.controls['name'].invalid || submitted && createproduct.controls['name'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['name'].errors?.['required']">This field is
                        required</small>
                </div>
                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.name">{{errors?.name}}</small>
                                    </div>   
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="code">PRODUCT ID</label>
            <div class="col-md-12">
                <input id="code" name="product_id" placeholder="PRODUCT ID" class="form-control input-md"
                    required="" type="text" formControlName="code">
                <div id="code"
                    *ngIf="createproduct.controls['code'].touched &&createproduct.controls['code'].invalid || submitted && createproduct.controls['code'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['code'].errors?.['required']">This field is
                        required</small>
                </div>

                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.code">{{errors?.code}}</small>
                                    </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label " for="category">Category</label>
            <div class="col-md-12 ">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="category_id" >
                    <option selected>Open this select menu</option>
                </select>
                <div id="category_id"
                    *ngIf="createproduct.controls['category_id'].touched &&createproduct.controls['category_id'].invalid || submitted && createproduct.controls['category_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['category_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.category_id">{{errors?.category_id}}</small>
                                    </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="Brand">Brand</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example">
                    <option selected>choose Brand</option>
                </select>

                
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="type_barcode">Barcode Symbology</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="type_barcode">
                    <option selected>Choose Symbology</option>
                </select>
                <div id="type_barcode"
                    *ngIf="createproduct.controls['type_barcode'].touched &&createproduct.controls['type_barcode'].invalid || submitted && createproduct.controls['type_barcode'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['type_barcode'].errors?.['required']">This field is
                        required</small>
                </div>

                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.type_barcode">{{errors?.type_barcode}}</small>
                                    </div>

            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="cost">PRODUCT Cost</label>
            <div class="col-md-12">
                <input id="cost" name="cost" placeholder="PRODUCT COST" class="form-control input-md"
                    required="" type="text" formControlName="cost">
                    <div id="type_barcode"
                    *ngIf="createproduct.controls['cost'].touched &&createproduct.controls['cost'].invalid || submitted && createproduct.controls['cost'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['cost'].errors?.['required']">This field is
                        required</small>
                </div>

                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.cost">{{errors?.cost}}</small>
                                    </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="price">PRODUCT price</label>
            <div class="col-md-12">
                <input id="price" name="price" placeholder="PRODUCT PRICE" class="form-control input-md"
                    required="" type="text" formControlName="price">
                <div id="price"
                    *ngIf="createproduct.controls['price'].touched &&createproduct.controls['price'].invalid || submitted && createproduct.controls['price'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['price'].errors?.['required']">This field is
                        required</small>
                </div>

                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.price">{{errors?.price}}</small>
                                    </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="unit_id">Product Unit</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="unit_id" >
                    <option selected>Choose ProductUnit</option>
                </select>
                <div id="unit_id"
                    *ngIf="createproduct.controls['unit_id'].touched &&createproduct.controls['unit_id'].invalid || submitted && createproduct.controls['unit_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['unit_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.unit_id">{{errors?.unit_id}}</small>
                                    </div>

            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="salesUnit">Sales Unit</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="unit_sale_id">
                    <option selected>Choose Sales Unit</option>
                </select>

                <div id="unit_sale_id"
                    *ngIf="createproduct.controls['unit_sale_id'].touched &&createproduct.controls['unit_sale_id'].invalid || submitted && createproduct.controls['unit_sale_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['unit_sale_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.unit_sale_id">{{errors?.unit_sale_id}}</small>
                                    </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="ProductUnit">Purchase Unit</label>
            <div class="col-md-12">
                <select class="form-select col-md-12" aria-label="Default select example" formControlName="unit_sale_id">
                    <option selected>Choose PurchaseUnit</option>
                </select>

                <div id="unit_sale_id"
                    *ngIf="createproduct.controls['unit_sale_id'].touched &&createproduct.controls['unit_sale_id'].invalid || submitted && createproduct.controls['unit_sale_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['unit_sale_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.unit_sale_id">{{errors?.unit_sale_id}}</small>
                                    </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="stockalert">Stock Alert</label>
            <div class="col-md-12">
                <input id="stockalert" name="stockalert" placeholder="0" class="form-control input-md" required=""
                    type="text" formControlName="stockalert">
                
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="tax_method">Order Tax</label>
            <div class="col-md-12">
                <input id="tax_method" name="tax_method" placeholder="Order Tax" class="form-control input-md" required=""
                    type="text" formControlName="tax_method">
                <div id="tax_method"
                    *ngIf="createproduct.controls['tax_method'].touched &&createproduct.controls['tax_method'].invalid  || submitted && createproduct.controls['unit_sale_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createproduct.controls['tax_method'].errors?.['required']">This field is required</small>
                </div>
                <div
                                        class="form-text text-danger">
                                        <small *ngIf="errors?.tax_method">{{errors?.tax_method}}</small>
                                    </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="ProductUnit">Tax Type</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example">
                    <option selected>Extusive</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12 ">
            <label for="exampleFormControlTextarea1" class="form-label ">Note</label>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>

    <div class="col-md-4"> 
        <div class="frame form-group col-md-12">
            <div class="center">
                <div class="title">
                    <h1>Drop file to upload</h1>
                </div>

                <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                    <input type="file" class="upload-input" formControlName="image"/>
                </div>

                <button type="button" class="btn" name="uploadbutton">Upload file</button>

            </div>
        </div>
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>