<h2>Create Product</h2>
<hr>

<form class="row col-md-12" [formGroup]="createProductForm" (ngSubmit)="AddProduct()">
    <div class="col-md-8 row">
        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="name">PRODUCT NAME</label>
            <div class="col-md-12">
                <input id="name" name="name" placeholder="PRODUCT NAME" class="form-control input-md" required
                    type="text" formControlName="name">
                <div id="name"
                    *ngIf="createProductForm.controls['name'].touched &&createProductForm.controls['name'].invalid || submitted && createProductForm.controls['name'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['name'].errors?.['required']">This field is
                        required</small>
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.name">{{errors?.name}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="code">PRODUCT Code</label>
            <div class="col-md-12">
                <input id="code" name="product_id" placeholder="PRODUCT Code" class="form-control input-md" required=""
                    type="text" formControlName="code">
                <div id="code"
                    *ngIf="createProductForm.controls['code'].touched &&createProductForm.controls['code'].invalid || submitted && createProductForm.controls['code'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['code'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.code">{{errors?.code}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label " for="category">Category</label>
            <div class="col-md-12 ">
                <select class="form-select col-md-12 " aria-label="Default select example"
                    formControlName="category_id">
                    <option *ngFor="let item of CategoryArray" [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>
                <div id="category_id"
                    *ngIf="createProductForm.controls['category_id'].touched &&createProductForm.controls['category_id'].invalid || submitted && createProductForm.controls['category_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['category_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.category_id">{{errors?.category_id}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="Brand">Brand</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="brand_id">
                    <option *ngFor="let item of BrandArray" [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>
                <div id="brand_id"
                *ngIf="createProductForm.controls['brand_id'].touched &&createProductForm.controls['brand_id'].invalid || submitted && createProductForm.controls['brand_id'].invalid"
                class="form-text text-danger">
                <small *ngIf="createProductForm.controls['brand_id'].errors?.['required']">This field is
                    required</small>
            </div>

            <div class="form-text text-danger">
                <small *ngIf="errors?.brand_id">{{errors?.brand_id}}</small>
            </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-12 control-label" for="type_barcode">Barcode Symbology</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example"
                    formControlName="type_barcode">
                    <option selected *ngFor="let type of barcode_types" [value]="type">
                        {{ type }}
                      </option>
                </select>
                <div id="type_barcode"
                    *ngIf="createProductForm.controls['type_barcode'].touched &&createProductForm.controls['type_barcode'].invalid || submitted && createProductForm.controls['type_barcode'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['type_barcode'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.type_barcode">{{errors?.type_barcode}}</small>
                </div>

            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="cost">PRODUCT Cost</label>
            <div class="col-md-12">
                <input id="cost" name="cost" placeholder="PRODUCT COST" class="form-control input-md" required=""
                    type="number" formControlName="cost">
                <div id="type_barcode"
                    *ngIf="createProductForm.controls['cost'].touched &&createProductForm.controls['cost'].invalid || submitted && createProductForm.controls['cost'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['cost'].errors?.['required']">This field is
                        required number</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.cost">{{errors?.cost}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="price">PRODUCT price</label>
            <div class="col-md-12">
                <input id="price" name="price" placeholder="PRODUCT PRICE" class="form-control input-md" required=""
                    type="number" formControlName="price">
                <div id="price"
                    *ngIf="createProductForm.controls['price'].touched &&createProductForm.controls['price'].invalid || submitted && createProductForm.controls['price'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['price'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.price">{{errors?.price}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="unit_id">Product Unit</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="unit_id">
                    <option *ngFor="let item of UnitArray" [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>
                <div id="unit_id"
                    *ngIf="createProductForm.controls['unit_id'].touched &&createProductForm.controls['unit_id'].invalid || submitted && createProductForm.controls['unit_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['unit_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.unit_id">{{errors?.unit_id}}</small>
                </div>

            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="salesUnit">Sales Unit</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example"
                    formControlName="unit_sale_id">
                    <option *ngFor="let item of UnitArray" [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>

                <div id="unit_sale_id"
                    *ngIf="createProductForm.controls['unit_sale_id'].touched &&createProductForm.controls['unit_sale_id'].invalid || submitted && createProductForm.controls['unit_sale_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['unit_sale_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.unit_sale_id">{{errors?.unit_sale_id}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="ProductUnit">Purchase Unit</label>
            <div class="col-md-12">
                <select class="form-select col-md-12" aria-label="Default select example"
                    formControlName="unit_purchase_id">
                    <option *ngFor="let item of UnitArray" [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>

                <div id="unit_purchase_id"
                    *ngIf="createProductForm.controls['unit_purchase_id'].touched &&createProductForm.controls['unit_purchase_id'].invalid || submitted && createProductForm.controls['unit_purchase_id'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['unit_purchase_id'].errors?.['required']">This field is
                        required</small>
                </div>

                <div class="form-text text-danger">
                    <small *ngIf="errors?.unit_purchase_id">{{errors?.unit_purchase_id}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="stockalert">Stock Alert</label>
            <div class="col-md-12">
                <input id="stockalert" name="stockalert" placeholder="0" class="form-control input-md" required=""
                    type="number" formControlName="stockalert">

            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="order_tax">Order Tax</label>
            <div class="col-md-12">
                <input id="order_tax" name="order_tax" placeholder="Order Tax percentage" class="form-control input-md" required=""
                    type="number" formControlName="order_tax">
                <div id="order_tax"
                    *ngIf="createProductForm.controls['order_tax'].touched &&createProductForm.controls['order_tax'].invalid  || submitted && createProductForm.controls['order_tax'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['order_tax'].errors?.['required']">This field is
                        required</small>
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.order_tax">{{errors?.order_tax}}</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="ProductUnit">Tax Type</label>
            <div class="col-md-12">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="tax_method">
                    <option selected>Exclusive</option>
                    <option selected>Inclusive</option>
                </select>
                <div id="tax_method"
                    *ngIf="createProductForm.controls['tax_method'].touched &&createProductForm.controls['tax_method'].invalid  || submitted && createProductForm.controls['tax_method'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="createProductForm.controls['tax_method'].errors?.['required']">This field is
                        required</small>
                </div>
                <div class="form-text text-danger">
                    <small *ngIf="errors?.tax_method">{{errors?.tax_method}}</small>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group col-md-12 ">
                <label for="exampleFormControlTextarea1" class="form-label ">Note</label>
                <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="frame form-group col-md-12">
            <div class="center">
                <div class="title">
                    <h1>Drop file to upload</h1>
                </div>

                <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                    <input type="file" class="upload-input" formControlName="image" />
                </div>

                <button type="button" class="btn" name="uploadbutton">Upload file</button>

            </div>
        </div>
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>