<h2>Create Product</h2>
<hr>

<form class="row col-md-12">
    <div class="col-md-8 row">
    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="product_name">PRODUCT NAME</label>
        <div class="col-md-12">
            <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md"
                required="" type="text">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="product_id">PRODUCT ID</label>
        <div class="col-md-12">
            <input id="product_id" name="product_id" placeholder="PRODUCT ID" class="form-control input-md" required=""
                type="text">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label " for="category">Category</label>
        <div class="col-md-12 ">
            <select class="form-select col-md-12 " aria-label="Default select example">
                <option selected>Open this select menu</option>
              </select>
        </div>
    </div>

    

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="Brand">Brand</label>
        <div class="col-md-12">
            <select class="form-select col-md-12 " aria-label="Default select example">
                <option selected >choose Brand</option>
            </select>
        </div>
    </div>
    
    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="Barcode Symbology">Barcode Symbology</label>
        <div class="col-md-12">
            <select class="form-select col-md-12 " aria-label="Default select example">
                <option selected>Choose Symbology</option>
              </select>
        </div>
    </div>
    
    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="product_id">PRODUCT Cost</label>
        <div class="col-md-12">
            <input id="productcost" name="productcost" placeholder="PRODUCT COST" class="form-control input-md" required=""
                type="text">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="productprice">PRODUCT price</label>
        <div class="col-md-12">
            <input id="productprice" name="productprice" placeholder="PRODUCT PRICE" class="form-control input-md" required=""
                type="text">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="ProductUnit">Product Unit</label>
        <div class="col-md-12">
            <select class="form-select col-md-12 " aria-label="Default select example">
                <option selected>Choose ProductUnit</option>
              </select>
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="salesUnit">Sales Unit</label>
        <div class="col-md-12">
            <select class="form-select col-md-12 " aria-label="Default select example">
                <option selected>Choose Sales Unit</option>
              </select>
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="ProductUnit">Purchase Unit</label>
        <div class="col-md-12">
            <select class="form-select col-md-12" aria-label="Default select example">
                <option selected>Choose PurchaseUnit</option>
              </select>
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="stockalert">Stock Alert</label>
        <div class="col-md-12">
            <input id="stockalert" name="stockalert" placeholder="0" class="form-control input-md" required=""
                type="text">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="ordertax">Order Tax</label>
        <div class="col-md-12">
            <input id="ordertax" name="ordertax" placeholder="Order Tax" class="form-control input-md" required=""
                type="text">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label class="col-md-8 control-label" for="ProductUnit">Tax Type</label>
        <div class="col-md-12">
            <select class="form-select col-md-12 " aria-label="Default select example">
                <option selected>Extusive</option>
              </select>
        </div>
    </div>
    <div class="form-group col-md-12 ">
        <label for="exampleFormControlTextarea1" class="form-label ">Note</label>
        <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="col-md-4"> 
        <div class="frame form-group col-md-12">
            <div class="center">
                <div class="title">
                    <h1>Drop file to upload</h1>
                </div>
        
                <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                    <input type="file" class="upload-input" />
                </div>
    
                <button type="button" class="btn" name="uploadbutton">Upload file</button>
        
            </div>
        </div>
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
