<h2>Update Product</h2>
<hr />

<form
  class="row col-md-12"
  [formGroup]="productupdateForm"
  (ngSubmit)="updateProduct(product_id)"
>
  <div class="col-md-8 row">
    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="name">PRODUCT NAME</label>
      <div class="col-md-12">
        <input
          id="name"
          name="name"
          placeholder="PRODUCT NAME"
          class="form-control input-md"
          required
          type="text"
          formControlName="name"
        />
        <div
          id="name"
          *ngIf="
            (productupdateForm.controls['name'].touched &&
              productupdateForm.controls['name'].invalid) ||
            (submitted && productupdateForm.controls['name'].invalid)
          "
          class="form-text text-danger"
        >
          <small *ngIf="productupdateForm.controls['name'].errors?.['required']"
            >This field is required</small
          >
        </div>
        <div class="form-text text-danger">
          <small *ngIf="errors?.name">{{ errors?.name }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="code">PRODUCT ID</label>
      <div class="col-md-12">
        <input
          id="code"
          name="product_id"
          placeholder="PRODUCT ID"
          class="form-control input-md"
          required=""
          type="text"
          formControlName="code"
        />
        <div
          id="code"
          *ngIf="
            (productupdateForm.controls['code'].touched &&
              productupdateForm.controls['code'].invalid) ||
            (submitted && productupdateForm.controls['code'].invalid)
          "
          class="form-text text-danger"
        >
          <small *ngIf="productupdateForm.controls['code'].errors?.['required']"
            >This field is required</small
          >
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.code">{{ errors?.code }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="category">Category</label>
      <div class="col-md-12">
        <select
          class="form-select col-md-12"
          aria-label="Default select example"
          name="category_id"
          formControlName="category_id"
          [(ngModel)]="category_data"
        >
          <option
            selected
            *ngFor="let category of categories"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        <div
          id="category_id"
          *ngIf="
            (productupdateForm.controls['category_id'].touched &&
              productupdateForm.controls['category_id'].invalid) ||
            (submitted && productupdateForm.controls['category_id'].invalid)
          "
          class="form-text text-danger"
        >
          <small
            *ngIf="productupdateForm.controls['category_id'].errors?.['required']"
            >This field is required</small
          >
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.category_id">{{ errors?.category_id }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="Brand">Brand</label>
      <div class="col-md-12">
        <select
          class="form-select col-md-12"
          name="brand_data"
          aria-label="Default select example"
          formControlName="brand"
          [(ngModel)]="brand_data"
        >
          <option selected *ngFor="let brand of brands" [value]="brand.id">
            {{ brand.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="type_barcode"
        >Barcode Symbology</label
      >
      <div class="col-md-12">
        <select
          class="form-select col-md-12"
          aria-label="Default select example"
          formControlName="type_barcode"
          [(ngModel)]="type_barcode"
        >
          <option selected *ngFor="let type of barcode_types" [value]="type">
            {{ type }}
          </option>
        </select>
        <div
          id="type_barcode"
          *ngIf="
            (productupdateForm.controls['type_barcode'].touched &&
              productupdateForm.controls['type_barcode'].invalid) ||
            (submitted && productupdateForm.controls['type_barcode'].invalid)
          "
          class="form-text text-danger"
        >
          <small
            *ngIf="productupdateForm.controls['type_barcode'].errors?.['required']"
            >This field is required</small
          >
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.type_barcode">{{ errors?.type_barcode }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="cost">PRODUCT Cost</label>
      <div class="col-md-12">
        <input
          id="cost"
          name="cost"
          placeholder="PRODUCT COST"
          class="form-control input-md"
          required=""
          type="text"
          formControlName="cost"
        />
        <div
          id="type_barcode"
          *ngIf="
            (productupdateForm.controls['cost'].touched &&
              productupdateForm.controls['cost'].invalid) ||
            (submitted && productupdateForm.controls['cost'].invalid)
          "
          class="form-text text-danger"
        >
          <small *ngIf="productupdateForm.controls['cost'].errors?.['required']"
            >This field is required</small
          >
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.cost">{{ errors?.cost }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="price">PRODUCT price</label>
      <div class="col-md-12">
        <input
          id="price"
          name="price"
          placeholder="PRODUCT PRICE"
          class="form-control input-md"
          required=""
          type="text"
          formControlName="price"
        />
        <div
          id="price"
          *ngIf="
            (productupdateForm.controls['price'].touched &&
              productupdateForm.controls['price'].invalid) ||
            (submitted && productupdateForm.controls['price'].invalid)
          "
          class="form-text text-danger"
        >
          <small
            *ngIf="productupdateForm.controls['price'].errors?.['required']"
            >This field is required</small
          >
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.price">{{ errors?.price }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="unit_id">Product Unit</label>
      <div class="col-md-12">
        <select
          class="form-select col-md-12"
          aria-label="Default select example"
          formControlName="unit_id"
          [(ngModel)]="product_unit"
        >
          <option selected *ngFor="let unit of units" [value]="unit.id">
            {{ unit.name }}
          </option>
        </select>
        <div
          id="unit_id"
          *ngIf="
            (productupdateForm.controls['unit_id'].touched &&
              productupdateForm.controls['unit_id'].invalid) ||
            (submitted && productupdateForm.controls['unit_id'].invalid)
          "
          class="form-text text-danger"
        >
          <small
            *ngIf="productupdateForm.controls['unit_id'].errors?.['required']"
            >This field is required</small
          >
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.unit_id">{{ errors?.unit_id }}</small>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="salesUnit">Sales Unit</label>
      <div class="col-md-12">
        <select
          class="form-select col-md-12"
          aria-label="Default select example"
          formControlName="unit_sale_id"
          [(ngModel)]="sale_unit"
        >
          <option selected *ngFor="let unit of units" [value]="unit.id">
            {{ unit.name }}
          </option>
        </select>

        <div
          id="unit_sale_id"
          *ngIf="
            (productupdateForm.controls['unit_sale_id'].touched &&
              productupdateForm.controls['unit_sale_id'].invalid) ||
            (submitted && productupdateForm.controls['unit_sale_id'].invalid)
          "
          class="form-text text-danger"
        >
          <small
            *ngIf="productupdateForm.controls['unit_sale_id'].errors?.['required']"
            >This field is required</small
          >
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.unit_sale_id">{{ errors?.unit_sale_id }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="ProductUnit"
        >Purchase Unit</label
      >
      <div class="col-md-12">
        <select
          class="form-select col-md-12"
          aria-label="Default select example"
          formControlName="unit_purchase_id"
          [(ngModel)]="purchase_unit"
        >
          <option selected *ngFor="let unit of units" [value]="unit.id">
            {{ unit.name }}
          </option>
        </select>

        <div
          id="unit_purchase_id"
          *ngIf="
            (productupdateForm.controls['unit_purchase_id'].touched &&
              productupdateForm.controls['unit_purchase_id'].invalid) ||
            (submitted && productupdateForm.controls['unit_purchase_id'].invalid)
          "
          class="form-text text-danger"
        >
          <small
            *ngIf="productupdateForm.controls['unit_purchase_id'].errors?.['required']"
            >This field is required</small
          >
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.unit_purchase_id">{{ errors?.unit_purchase_id }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="stockalert">Stock Alert</label>
      <div class="col-md-12">
        <input
          id="stockalert"
          name="stockalert"
          placeholder="0"
          class="form-control input-md"
          required=""
          type="text"
          formControlName="stockalert"
        />
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="product_tax"
        >Product Tax</label
      >
      <div class="col-md-12">
        <input
          id="product_tax"
          name="product_tax"
          placeholder="Product Tax"
          class="form-control input-md"
          required=""
          type="text"
          formControlName="product_tax"
        />
        <div
          id="product_tax"
          *ngIf="
            (productupdateForm.controls['product_tax'].touched &&
              productupdateForm.controls['product_tax'].invalid) ||
            (submitted && productupdateForm.controls['product_tax'].invalid)
          "
          class="form-text text-danger"
        >
          <small
            *ngIf="productupdateForm.controls['product_tax'].errors?.['required']"
            >This field is required</small
          >
        </div>
        <div class="form-text text-danger">
          <small *ngIf="errors?.product_tax">{{ errors?.product_tax }}</small>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="col-md-8 control-label" for="TaxType">Tax Type</label>
      <div class="col-md-12">
        <select
          formControlName="tax_method"
          [(ngModel)]="tax_type"
        >
          <option selected *ngFor="let type of tax_types" [value]="type">
            {{ type }}
          </option>
        </select>


      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="exampleFormControlTextarea1" class="form-label">Note</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </div>

  <div class="col-md-4">
    <div class="frame form-group col-md-12">
      <div class="center">
        <div class="title">
          <h1>Drop file to upload</h1>
        </div>

        <div class="dropzone">
          <img
            src="http://100dayscss.com/codepen/upload.svg"
            class="upload-icon"
          />
          <input type="file" class="upload-input" formControlName="image" />
        </div>

        <button type="button" class="btn" name="uploadbutton">
          Upload file
        </button>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div class="col-md-4">

      <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">
        Submit
      </button>

    </div>
  </div>
</form>
