<body>
    <h2>Warehouse
    </h2>
    <hr>
    <div class=" row">
        <div class="col-md-9">
            <form class="form-inline col-md-12 mb-1">
                <span class="switch-icon-left"><i data-feather="search"></i></span>
                <input class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="col-md-3 ">
            <button type="button" class="btn btn-primary"><i data-feather="plus-circle"></i>Create</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Email</th>
                <th scope="col">Zip Code</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>jkk</td>
                <td>ddvvv</td>
                <td>jkk</td>
                <td>ddvvv</td>
                <td>jkk</td>
                <td>ddvvv</td>
                <td><i data-feather="edit" class="btn-outline-success"></i><i data-feather="x-circle" class="btn-outline-danger"></i></td>
            </tr>
        </tbody>
    </table>
</body>


