.card{
    height: 100px;
    text-align: center;
}
.sec1,.sec2{
    background: white;
    border-radius: 20px;
    margin-left: 30px;
    height: 300px;
    text-align: center;
}
.sec3{
   height: 200px;
   background: blue;
   border-radius: 50%;
   text-align: center;
   display: block;
   margin-left: 25%;
}
.sec5{
    background: white;
    border-radius: 20px;
}
table{
    border-radius: 20px;
}