<body>
    <h2>Group Permissions
    </h2>
    <hr>
    <div class=" row">
        <div class="col-md-9">
            <form class="form-inline col-md-12 mb-1">
                <span class="switch-icon-left"><i data-feather="search"></i></span>
                <input class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="col-md-3 ">
            <button type="button" class="btn btn-primary" [routerLink]="['../createpermission']"><i data-feather="plus-circle"></i>Create</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Role</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>jkk</td>
                <td>ddvvv</td>
                <td><i data-feather="edit" class="btn-outline-success" [size]="24"></i><i data-feather="x-circle" class="btn-outline-danger" [size]="24"></i></td>
            </tr>
        </tbody>
        <tbody class="table-group-divider">
            <tr>
                <td>jkk</td>
                <td>ddvvv</td>
                <td><i data-feather="edit" class="btn-outline-success" [size]="24"></i><i data-feather="x-circle" class="btn-outline-danger" [size]="24"></i></td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination  class="d-flex justify-content-end" [collectionSize]="50" [(page)]="pageBasicText" aria-label="Custom pagination">
        <ng-template ngbPaginationPrevious
          ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
        </ng-template>
        <ng-template ngbPaginationNext
          >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
        </ng-template>
      </ngb-pagination>
</body>

