<body>
    <h2>Backup Database
    </h2>
    <hr>
    <div class=" row">
        <div class="col-md-3 ">
            <button type="button" class="btn btn-primary"><i data-feather="plus-circle"></i>Generate backup</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">File size </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>EGP</td>
                <td>ddvvv</td>
                <td><i data-feather="edit" class="btn-outline-success"></i><i data-feather="x-circle" class="btn-outline-danger"></i></td>
            </tr>
        </tbody>
    </table>


