<body>
    <h2>Return List</h2>
    <hr>
    <div class=" row">
        <div class="col-md-7">
            <form class="form-inline col-md-12 mb-1">
                <span class="switch-icon-left"><i data-feather="search"></i></span>
                <input class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="col-md-5 ">
            <div ngbDropdown [placement]="'right-down'" class="btn-group dropup">

            <button ngbDropdownToggle type="button" class="btn btn-outline-primary rippleEffect"><i data-feather="filter"></i>Filter</button>

<div ngbDropdownMenu style="width:400px;height: auto;">
                <form class="px-2 py-2">
                    <h3 style="font-weight:bold ;">Filter</h3>

                  <div class="form-group  ">
                    <label  for="exampleDropdownFormDate1">Date</label>
                    <input  type="date" class="form-control" id="exampleDropdownFormDate1"  />
                  </div>

                  <div class="form-group ">
                    <label  for="exampleDropdownFormReferenc1">Referenc</label>
                    <input  type="text" class="form-control" id="exampleDropdownFormReferenc1"  placeholder="Referenc" />
                  </div>

                    <div class="form-group ">
                        <label for="exampleDropdownFormCustomer1">Customer</label>
                        <select class="form-control" aria-label="Default select example" id="exampleDropdownFormCustomer1" >
                        <option selected>Choose Customer</option>
                        <option>walk-in-customer</option>
                        </select>
                        </div>

                        <div class="form-group ">
                            <label for="exampleDropdownFormWarehouse1">Warehouse</label>
                            <select class="form-control" aria-label="Default select example" id="exampleDropdownFormWarehouse1" >
                            <option selected>Choose Warehouse</option>
                            <option>الرئيسي </option>
                        <option>officic annim </option>
                            </select>
                            </div>
                            <div class="form-group ">
                                <label for="exampleDropdownFormStatus1">Status</label>
                                <select class="form-control" aria-label="Default select example" id="exampleDropdownFormStatus1" >
                                <option selected>Choose Status</option>
                            <option>Pending </option>
                            <option>Sent </option>
                            <option>Recived</option>
                                </select>
                                </div>
                                <div class="form-group mb-1 ">
                                    <label for="exampleDropdownFormStatus1">Payment Status</label>
                                    <select class="form-control" aria-label="Default select example" id="exampleDropdownFormStatus1" >
                                    <option selected>Choose Status</option>
                                    <option>paid </option>
                                <option>partial </option>
                                <option>Unpaid</option>
                                    </select>
                                    </div>
                        <div class="row">
                        <div class="col-lg-6 col-md-12 ">
                            <div class="form-group">
                              <button type="button" class="btn btn-primary btn-block" rippleEffect><i data-feather="filter"></i>Filter</button>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                              <button type="button" class="btn btn-danger btn-block" rippleEffect><i data-feather="alert-circle"></i> Reset</button>
                            </div>
                         </div> 
                        </div>
                         </form> 
                                        
                </div>
              </div>
            <!-- <button type="button" class="btn btn-outline-success "><i data-feather="file-text"></i>PDF</button>
            <button type="button" class="btn btn-outline-danger "><i data-feather="file-text"></i>EXCEL</button> -->
            <button type="button" class="btn btn-secondary" [routerLink]="['../createreturn']"><i data-feather="plus-circle"></i>Create</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Reference</th>
                <th scope="col">Customer</th>
                <th scope="col">Warehouse</th>
                <th scope="col">Status</th>
                <th scope="col">Grand Total</th>
                <th scope="col">Paid</th>
                <th scope="col">Due</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-sm btn-danger" ><i data-feather="x-circle"  [size]="24"></i></button></td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination  class="d-flex justify-content-end" [collectionSize]="50" [(page)]="pageBasicText" aria-label="Custom pagination">
        <ng-template ngbPaginationPrevious
          ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
        </ng-template>
        <ng-template ngbPaginationNext
          >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
        </ng-template>
      </ngb-pagination>
</body>

