body{
    background: white;
    border-radius: 20px;
    padding: 20px;
}
select{
    border-radius: 5px;
    padding: 7px;
    border: 1px gainsboro solid;
}
.icon{
    padding-left: 10px;
    padding-top: 6px;
    text-align: center;
}
table{
    margin-top: 20px;
    margin-left: 25px;
    text-align: center;
    border-radius: 10px;
}
ul{
    list-style: none;
    margin: 0 auto;
    text-align: left;
    margin-right: 10px;
  }
  
  ul li{
    padding: 5px;
    overflow: hidden;
  }
  
  ul li p{
    font-weight: bold;
    padding-top: 7px;
  }