<body>
    <h2>Transfer List</h2>
    <hr>
    <div class="container row">
        <div class="col-md-6">
            <form class="form-inline col-md-12 mb-1">
                <span class="switch-icon-left"><i data-feather="search"></i></span>
                <input class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="col-md-6 ">
            <div ngbDropdown [placement]="'right-down'" class="btn-group dropup">

            <button ngbDropdownToggle type="button" class="btn btn-outline-primary " rippleEffect><i data-feather="filter"></i>Filter</button>

            <div ngbDropdownMenu style="width:400px;height: 460px;">
                <form class="px-2 py-2">
                    <h3 style="font-weight:bold ;">Filter</h3>

                  <div class="form-group mb-1 ">
                    <label  for="exampleDropdownFormCode1">Code Product</label>
                    <input  type="text" class="form-control" id="exampleDropdownFormCode1"  placeholder="Search by Code" />
                  </div>

                  <div class="form-group mb-1">
                    <label for="exampleDropdownFormProduct1">Product</label>
                    <input type="text" class="form-control" id="exampleDropdownFormProduct1"
                      placeholder="Search by Name"/>
                    </div>

                    <div class="form-group mb-1">
                        <label for="exampleDropdownFormCategory1">Category</label>
                        <select class="form-control" aria-label="Default select example" id="exampleDropdownFormCategory1" >
                        <option selected>Choose Category</option>
                        <option>tshirt </option>
                        </select>
                        </div>
                       
                            <div class="form-group mb-2">
                                <label for="exampleDropdownFormStatus1">Status</label>
                                <select class="form-control" aria-label="Default select example" id="exampleDropdownFormStatus1" >
                                <option selected>Choose Status</option>
                                <option>completed </option>
                                <option>pending </option>
                                <option>sent</option>
                                </select>
                                </div>
                        <div class="row">
                        <div class="col-lg-6 col-md-12 ">
                            <div class="form-group">
                              <button type="button" class="btn btn-primary btn-block" rippleEffect><i data-feather="filter"></i>Filter</button>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                              <button type="button" class="btn btn-danger btn-block" rippleEffect><i data-feather="alert-circle"></i> Reset</button>
                            </div>
                         </div> 
                        </div>
                         </form> 
                                        
                </div>
              </div>

            <button type="button" class="btn btn-outline-success "><i data-feather="file-text"></i>PDF</button>
            <button type="button" class="btn btn-outline-danger "><i data-feather="file-text"></i>EXCEL</button>
            <button type="button" class="btn btn-secondary" ><i data-feather="plus-circle"></i>Create</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Reference</th>
                <th scope="col"> Form Warehouse</th>
                <th scope="col"> TO Warehouse</th>
                <th scope="col"> Items</th>
                <th scope="col"> Grand Total</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <button class="btn btn-sm btn-primary" (click)="openModal(contentModal)"><i data-feather="eye"[size]="22"></i>
                </button><button class="btn btn-sm btn-success" [routerLink]="['../ternsupdate']"><i data-feather="edit" [size]="24" >
                </i></button>  <button class="btn btn-sm btn-danger" ><i data-feather="x-circle"  [size]="24"></i>
                </button></td> 
                  <!-- Modal -->
              <ng-template #contentModal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-primary-title">Transfer Details</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body centered ">
                  <table class="col-md-12 table table-light table-striped">
                    <tr>
                        <td>Date</td>
                        <td> 2022-08-05</td>
                    </tr>
                    <tr>
                        <td>Reference</td>
                        <td> TR_1156</td>
                    </tr>
                    <tr>
                        <td>From WareHous</td>
                        <td> w1</td>
                    </tr>
                    <tr>
                        <td>To WareHous</td>
                        <td> w2</td>
                    </tr>
                    <tr>
                        <td>Grand Total</td>
                        <td> 12334$</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td> completed</td>
                    </tr>
                  </table>
                   <table class="col-md-12 table table-light table-striped">
                    <tr>
                        <th>Product</th>
                        <th>Code product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td>ghshg</td>
                        <td>5636</td>
                        <td>32</td>
                        <td>677</td>
                    </tr>
                   </table>
                </div>
            </ng-template>
            </tr>
        </tbody>
    </table>
    <ngb-pagination  class="d-flex justify-content-end" [collectionSize]="50" [(page)]="pageBasicText" aria-label="Custom pagination">
        <ng-template ngbPaginationPrevious
          ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
        </ng-template>
        <ng-template ngbPaginationNext
          >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
        </ng-template>
      </ngb-pagination>
</body>

