<body>
    <div class="container">
        <div class="main-body">
        
              <!-- Breadcrumb -->
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Home</li>
                  <li class="breadcrumb-item">User</li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
              <!-- /Breadcrumb -->
        
              <div class="row gutters-sm ">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>Asmaa Salah</h4>
                          <p class="text-secondary mb-1">Admin</p>
                          <p class="text-muted font-size-sm">Mansoura</p>
                        </div>
                      </div>
                    </div>
                  </div>
               
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Asmaa Salah
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          asmaa@gmail.com
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          01020304001
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                         Mansoura
                        </div>
                      </div>
                      <hr>
              
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Code</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          15673hh
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
    
                  
    
                </div>
              </div>
    
            </div>
        </div>
</body>
