<body>
    <h2>Category
    </h2>
    <hr>
    <div class=" row">
        <div class="col-md-9">
            <form class="form-inline col-md-12 mb-1">
                <span class="switch-icon-left"><i data-feather="search" [size]="30"></i></span>
                <input [ngModel]="searchInput" [ngModelOptions]="{standalone: true}" (ngModelChange)="search($event)"
                    class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search"
                    aria-label="Search" />
            </form>
        </div>
        <div class="col-md-3 ">
            <button type="button" class="btn btn-primary" (click)="openModal(contentModal)"><i data-feather="plus-circle"></i>Create</button>
               <!-- Modal -->
               <ng-template #contentModal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-primary-title">Create</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body centered">
                    <form class="col-md-12" [formGroup]="createCategoryForm" (ngSubmit)="createCategory()">
                            <div class="form-group col-md-12" >
                                <label class="col-md-12 control-label " for="Category Code">Category Code</label>
                                <div class="col-md-12 ">
                                    <input class="form-control form-control col-md-12" type="text"
                                        placeholder="Category Code" aria-label="Date" id="CategoryCode"
                                        name="CategoryCode" formControlName="CategoryCode">
                                        <div id="CategoryCode" *ngIf="createCategoryForm.controls['CategoryCode'].touched &&createCategoryForm.controls['CategoryCode'].invalid|| submitted && createCategoryForm.controls['CategoryCode'].invalid"
                                        class="form-text text-danger">
                                        <small *ngIf="createCategoryForm.controls['CategoryCode'].errors?.['required']">This field is
                                            required</small>
                                    </div>   
                                    <div class="form-text text-danger">
                                        <small *ngIf="errors?.code">{{errors?.code}}</small>
                                      </div>  
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-12 control-label " for="CategoryName">Category Name</label>
                                <div class="col-md-12 ">
                                    <input class="form-control form-control col-md-12" type="text"
                                        placeholder="Category Name" aria-label="Date" id="CategoryName"
                                        name="CategoryName" formControlName="CategoryName">
                                        <div id="CategoryName" *ngIf="createCategoryForm.controls['CategoryName'].touched &&createCategoryForm.controls['CategoryName'].invalid|| submitted && createCategoryForm.controls['CategoryName'].invalid "
                                        class="form-text text-danger">
                                        <small *ngIf="createCategoryForm.controls['CategoryName'].errors?.['required']">This field is
                                            required</small>
                                    </div>
                                    <div class="form-text text-danger">
                                        <small *ngIf="errors?.name">{{errors?.name}}</small>
                                      </div>
                                </div>
                            </div>
                         
                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </ng-template>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category Code </th>
                <th scope="col">Category Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" class="table-group-divider">
            <tr *ngFor="let category of categories | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total}; let i = index">
                <td>{{ category.code }}</td>
                <td>{{ category.name }}</td>
                <td> <button class="btn btn-sm btn-success" (click)="openModal2(contentModal2);editCategory(category.id)" ><i data-feather="edit" [size]="24" >
                </i></button>  <button class="btn btn-sm btn-danger" (click)="deleteCategory(category.id)"><i data-feather="x-circle"  [size]="24"></i>
                </button></td>


                <!-- Edit Category Modal -->
                <ng-template #contentModal2 let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-primary-title">Edit</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <form [formGroup]="editCategoryForm" (ngSubmit)="updateCategory(category.id)" class="col-md-12" >
                                <div class="form-group col-md-12" >
                                    <label class="col-md-12 control-label " for="Category Code">Category Code</label>
                                    <div class="col-md-12 ">
                                        <input class="form-control form-control col-md-12" type="text"
                                            placeholder="Category Code" aria-label="Date" id="CategoryCode"
                                            name="CategoryCode" formControlName="CategoryCode">  
                                            <div id="CategoryCode" *ngIf="editCategoryForm.controls['CategoryCode'].touched &&editCategoryForm.controls['CategoryCode'].invalid|| submitted && editCategoryForm.controls['CategoryCode'].invalid"
                                        class="form-text text-danger">
                                        <small *ngIf="editCategoryForm.controls['CategoryCode'].errors?.['required']">This field is
                                            required</small>
                                    </div>   
                                    <div class="form-text text-danger">
                                        <small *ngIf="errors?.code">{{errors?.code}}</small>
                                      </div>    
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-12 control-label " for="CategoryName">Category Name</label>
                                    <div class="col-md-12 ">
                                        <input class="form-control form-control col-md-12" type="text"
                                            placeholder="Category Name" aria-label="Date" id="CategoryName"
                                            name="CategoryName" formControlName="CategoryName">
                                            <div id="CategoryName" *ngIf="editCategoryForm.controls['CategoryName'].touched &&editCategoryForm.controls['CategoryName'].invalid|| submitted && editCategoryForm.controls['CategoryName'].invalid "
                                            class="form-text text-danger">
                                            <small *ngIf="editCategoryForm.controls['CategoryName'].errors?.['required']">This field is
                                                required</small>
                                        </div>
                                        <div class="form-text text-danger">
                                            <small *ngIf="errors?.name">{{errors?.name}}</small>
                                          </div>
                                    </div>
                                </div>
                             
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>   
                <!-- END OF EDIT CATEGORY MODAL -->

            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChangeEvent($event)" class="d-flex justify-content-end">
    </pagination-controls>
</body>


