

<body>
    <h2>Edit Adjustement
    </h2>
    <hr>
    <div class="container col-md-12">
    <div class="  col-md-12 row">
        <div class="col-md-6">
            <label class="col-md-6 control-label " for="category">Warehouse</label>
            <div class="col-md-12 ">
                <select class="form-select col-md-12 " aria-label="Default select example">
                    <option selected>Choose Warehouse</option>
                </select>
            </div>
        </div>
        <div class=" col-md-6">
            <label class="col-md-6 control-label " for="category">Date</label>
            <div class="col-md-12 ">
                <input class="form-control form-control col-md-12" type="date" placeholder="Date" aria-label="Date">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <label class="col-md-4 control-label" for="product">Product</label>
        <div class="col-md-12 row">
            <span class="switch-icon-left icon col-md-1"><i data-feather="search" [size]="30"></i></span>
            <input class="form-control col-md-11 text-left" type="text" placeholder="Search Product by name"
                aria-label="Search">
        </div>
    </div>
    
    <div class="container text-left">
    <table class="table col-md-12 table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Code Product</th>
                <th scope="col">Stock</th>
                <th scope="col">Qty</th>
                <th scope="col">Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>1</td>
                <td>63417341</td>
                <td>(earphones)</td>
                <td><div class="badge badge-pill badge-light-warning">50 pc</div></td>
                <td>	<div class="container text-left ">
<button type="button" (click)="minus()" ><i data-feather="minus"></i></button>
<input class="quantity" type="text" [value]="quantity">
<button type="button" (click)="plus()" ><i data-feather="plus"></i></button>
                </div>
                     </td>
                <td>
                    <select class="form-select col-md-12 " aria-label="Default select example">
                        <option selected>Addition</option>
                        <option selected>Subtraction</option>
                    </select>
                </td>
                <td> <button class="btn btn-sm btn-danger" ><i data-feather="x-circle"  [size]="24"></i>
                </button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>63417341</td>
                <td>(earphones)</td>
                <td><div class="badge badge-pill badge-light-warning">50 pc</div></td>
                <td>	<div class="container text-left ">
<button type="button" (click)="minus()" ><i data-feather="minus"></i></button>
<input class="quantity" type="text" [value]="quantity">
<button type="button" (click)="plus()" ><i data-feather="plus"></i></button>
                </div>
                     </td>
                <td>
                    <select class="form-select col-md-12 " aria-label="Default select example">
                        <option selected>Addition</option>
                        <option selected>Subtraction</option>
                    </select>
                </td>
                <td> <button class="btn btn-sm btn-danger" ><i data-feather="x-circle"  [size]="24"></i>
                </button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>63417341</td>
                <td>(earphones)</td>
                <td><div class="badge badge-pill badge-light-warning">50 pc</div></td>
                <td>	<div class="container text-left ">
<button type="button" (click)="minus()" ><i data-feather="minus"></i></button>
<input class="quantity" type="text" [value]="quantity">
<button type="button" (click)="plus()" ><i data-feather="plus"></i></button>
                </div>
                     </td>
                <td>
                    <select class="form-select col-md-12 " aria-label="Default select example">
                        <option selected>Addition</option>
                        <option selected>Subtraction</option>
                    </select>
                </td>
                <td> <button class="btn btn-sm btn-danger" ><i data-feather="x-circle"  [size]="24"></i>
                </button></td>
            </tr>
            <tr>
                <td>4</td>
                <td>63417341</td>
                <td>(earphones)</td>
                <td><div class="badge badge-pill badge-light-warning">50 pc</div></td>
                <td>	<div class="container text-left ">
<button type="button" (click)="minus()" ><i data-feather="minus"></i></button>
<input class="quantity" type="text" [value]="quantity">
<button type="button" (click)="plus()" ><i data-feather="plus"></i></button>
                </div>
                     </td>
                <td>
                    <select class="form-select col-md-12 " aria-label="Default select example">
                        <option selected>Addition</option>
                        <option selected>Subtraction</option>
                    </select>
                </td>
                <td> <button class="btn btn-sm btn-danger" ><i data-feather="x-circle"  [size]="24"></i>
                </button></td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="form-group col-md-12 ">
        <label for="exampleFormControlTextarea1" class="form-label ">Note</label>
        <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
    </div>
    
</div>

</body>
