<body>
  <h2>Brand</h2>
  <hr />

  <div class="row">
    <div class="col-md-9">
      <form class="form-inline col-md-12 mb-1">
        <span class="switch-icon-left"><i data-feather="search" [size]="30"></i></span>
        <input [ngModel]="searchInput" [ngModelOptions]="{standalone: true}" (ngModelChange)="search($event)"
          class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search" aria-label="Search" />
      </form>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" (click)="openModal(contentModal)">
        <i data-feather="plus-circle"></i>Create
      </button>
      <!-- Modal -->
      <ng-template #contentModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-primary-title">Create</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body centered">
          <form class="col-md-12" [formGroup]="createbrand" (ngSubmit)="AddBrand()">
            <div class="form-group col-md-12">
              <label class="col-md-12 control-label " for="Brand Name">Brand Name</label>
              <div class="col-md-12 ">
                <input class="form-control form-control col-md-12" type="text" placeholder="Enter Brand Name"
                  aria-label="Date" id="name" name="name" formControlName="name">
                <div id="BrandName"
                  *ngIf="createbrand.controls['name'].touched && createbrand.controls['name'].invalid || submitted && createbrand.controls['name'].invalid"
                  class="form-text text-danger">
                  <small *ngIf="createbrand.controls['name'].errors?.['required']">This field is
                    required</small>
                </div>
                <div class="form-text text-danger">
                  <small *ngIf="errors?.name">{{errors?.name}}</small>
                </div>

              </div>
            </div>
            <div class="form-group col-md-12 ">
              <label for="exampleFormControlTextarea1" class="form-label col-md-12 ">Brand Description</label>
              <div class="col-md-12">
                <textarea class="form-control " id="description" name="description" rows="3"
                  formControlName="description" placeholder="Enter Description Brand"></textarea>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-12 control-label " for="Brand Image">Brand Image</label>
              <div class="col-md-12 ">
                <input class="form-control form-control col-md-12" type="file" placeholder="image" aria-label="Date"
                  id="image" name="image" formControlName="image">

              </div>
            </div>


            <div class="form-group col-md-12">
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>


        </div>

      </ng-template>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Brand Image</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Brand Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider" *ngFor="let brand of data | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total}; let i = index">
      <tr>
        <td><img src="{{ brand.image }}" width="50" height="50" /></td>
        <td>{{ brand.name }}</td>
        <td>{{ brand.description }}</td>
        <td>
          <button class="btn btn-sm btn-success" (click)="editBrand(brand.id); openModal2(contentModal2)">
            <i data-feather="edit" [size]="24"></i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteBrand(brand.id)">
            <i data-feather="x-circle" [size]="24"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <!-- Modal -->
    <ng-template #contentModal2 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-primary-title">Edit</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body centered">
        <form class="col-md-12" [formGroup]="editBrandForm" (ngSubmit)="updateBrand()">
          <div class="form-group col-md-12">
            <label class="col-md-12 control-label" for="Brand Name">Brand Name</label>
            <div class="col-md-12">
              <input class="form-control form-control col-md-12" type="text" placeholder="Brand Name" aria-label="Date"
                id="name" name="name" formControlName="name" />
              <div id="BrandName"
                *ngIf="editBrandForm.controls['name'].touched && editBrandForm.controls['name'].invalid || submitted && editBrandForm.controls['name'].invalid"
                class="form-text text-danger">
                <small *ngIf="editBrandForm.controls['name'].errors?.['required']">This field is
                  required</small>
              </div>
              <div class="form-text text-danger">
                <small *ngIf="errors?.name">{{errors?.name}}</small>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for="exampleFormControlTextarea1" class="form-label col-md-12">Brand Description</label>
            <div class="col-md-12">
              <textarea class="form-control" id="description" name="description" rows="3"
                formControlName="description"></textarea>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="col-md-12 control-label" for="Brand Image">Brand Image</label>
            <div class="col-md-12">
              <input class="form-control form-control col-md-12" type="file" placeholder="image" aria-label="Date"
                id="image" name="image" formControlName="image" />
            </div>
          </div>

          <div class="form-group col-md-12">
            <div class="col-md-4">
              <button id="singlebutton" name="singlebutton" class="btn btn-primary">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </table>
  <pagination-controls (pageChange)="pageChangeEvent($event)" class="d-flex justify-content-end">
  </pagination-controls>
</body>