<body>
    <h2>Brand
    </h2>
    <hr>
    <div class=" row">
        <div class="col-md-9">
            <form class="form-inline col-md-12 mb-1">
                <span class="switch-icon-left"><i data-feather="search"></i></span>
                <input class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="col-md-3 ">
            <button type="button" class="btn btn-primary" (click)="openModal(contentModal)"><i data-feather="plus-circle"></i>Create</button>
              <!-- Modal -->
              <ng-template #contentModal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-primary-title">Create</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body centered">
                    <form class="col-md-12" [formGroup]="createbrand" (ngSubmit)="AddBrand()">
                            <div class="form-group col-md-12">
                                <label class="col-md-12 control-label " for="Brand Name">Brand Name</label>
                                <div class="col-md-12 ">
                                    <input class="form-control form-control col-md-12" type="text"
                                        placeholder="Brand Name" aria-label="Date" id="name"
                                        name="name" formControlName="name">
                                        <div id="BrandName" *ngIf="createbrand.controls['name'].touched &&createbrand.controls['name'].invalid"
                                        class="form-text text-danger">
                                        <small *ngIf="createbrand.controls['name'].errors?.['required']">This field is
                                            required</small>
                                    </div>     
                                </div>
                            </div>
                            <div class="form-group col-md-12 ">
                                <label for="exampleFormControlTextarea1" class="form-label ">Brand Description</label>
                                <textarea class="form-control " id="description" name="description" rows="3" formControlName="description"></textarea>
                                <div id="description" *ngIf="createbrand.controls['description'].touched &&createbrand.controls['description'].invalid"
                                class="form-text text-danger">
                                <small *ngIf="createbrand.controls['description'].errors?.['required']">This field is
                                    required</small>
                            </div>    
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-12 control-label " for="Brand Image">Brand Image</label>
                                <div class="col-md-12 ">
                                    <input class="form-control form-control col-md-12" type="file"
                                        placeholder="image" aria-label="Date" id="image"
                                        name="image" formControlName="image">
                                        <div id="image" *ngIf="createbrand.controls['image'].touched &&createbrand.controls['image'].invalid"
                                        class="form-text text-danger">
                                        <small *ngIf="createbrand.controls['image'].errors?.['required']">This field is
                                            required</small>
                                    </div>        
                                </div>
                            </div>
                          

                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </ng-template>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Brand Image</th>
                <th scope="col">Brand Name </th>
                <th scope="col">Brand Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td><img src="#"></td>
                <td>jkk</td>
                <td>ddvvv</td>
                <td><i data-feather="edit" class="btn-outline-success"[size]="24" ></i><i data-feather="x-circle" class="btn-outline-danger" [size]="24"></i></td>
            </tr>
        </tbody>
    </table>
</body>


