<form class="col-md-12"#edit="ngForm" (ngSubmit)="brandEdit(edit)" >
    <div class="form-group col-md-12">
        <label class="col-md-12 control-label " for="Brand Name">Brand Name</label>
        <div class="col-md-12 ">
            <input class="form-control form-control col-md-12" type="text"
                placeholder="Brand Name" aria-label="Date" id="name"
                name="name" [(ngModel)]="data.data.name" ngModel>
             
        </div>
    </div>
    <div class="form-group col-md-12 ">
        <label for="exampleFormControlTextarea1" class="form-label ">Brand Description</label>
        <textarea class="form-control " id="description" name="description" rows="3" [(ngModel)]="data.data.description" ngModel></textarea>
      
  
    </div>
    <div class="form-group col-md-12">
        <label class="col-md-12 control-label " for="Brand Image">Brand Image</label>
        <div class="col-md-12 ">
            <input class="form-control form-control col-md-12" type="file"
                placeholder="image" aria-label="Date" id="image"
                name="image"[(ngModel)]="data.data.image" ngModel >
              
        </div>
    </div>
  

<div class="form-group col-md-12">
    <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Edit</button>
    </div>
</div>
</form>
