<body>
    <h2>Currency
    </h2>
    <hr>
    <div class=" row">
        <div class="col-md-9">
            <form class="form-inline col-md-12 mb-1">
                <span class="switch-icon-left"><i data-feather="search"></i></span>
                <input class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="col-md-3 ">
            <button type="button" class="btn btn-primary" (click)="openModal(contentModal)"><i data-feather="plus-circle"></i>Create</button>
               <!-- Modal -->
               <ng-template #contentModal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-primary-title">Create</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body centered">
                    <form class=" col-md-12" [formGroup]="createcurrency" (ngSubmit)="formSubmit()">
                            <div class="form-group col-md-12">
                                <label class="col-md-12 control-label " for="Currency Code">Currency Code</label>
                                <div class="col-md-12 ">
                                    <input class="form-control form-control col-md-12" type="text"
                                        placeholder="Currency Code" aria-label="Date" id="CurrencyCode"
                                        name="CurrencyCode" formControlName="CurrencyCode">
                                        <div id="CurrencyCode" *ngIf="createcurrency.controls['CurrencyCode'].touched &&createcurrency.controls['CurrencyCode'].invalid"
                                        class="form-text text-danger">
                                        <small *ngIf="createcurrency.controls['CurrencyCode'].errors?.['required']">This field is
                                            required</small>
                                    </div>  
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-12 control-label " for="Currency Name">Currency Name</label>
                                <div class="col-md-12 ">
                                    <input class="form-control form-control col-md-12" type="Currency Name"
                                        placeholder="Currency Name" aria-label="Date" id="CurrencyName"
                                        name="CurrencyName" formControlName="CurrencyName">
                                        <div id="CurrencyName" *ngIf="createcurrency.controls['CurrencyName'].touched &&createcurrency.controls['CurrencyName'].invalid"
                                        class="form-text text-danger">
                                        <small *ngIf="createcurrency.controls['CurrencyName'].errors?.['required']">This field is
                                            required</small>
                                    </div>  
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-12 control-label " for="Symbol">Symbol</label>
                                <div class="col-md-12 ">
                                    <input class="form-control form-control col-md-12" type="text"
                                        placeholder="Symbol" aria-label="Date" id="Symbol"
                                        name="Symbol" formControlName="Symbol">
                                        <div id="Symbol" *ngIf="createcurrency.controls['Symbol'].touched &&createcurrency.controls['Symbol'].invalid"
                                        class="form-text text-danger">
                                        <small *ngIf="createcurrency.controls['Symbol'].errors?.['required']">This field is
                                            required</small>
                                    </div> 
                                </div>
                            </div>
                       
                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </ng-template>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Currency code</th>
                <th scope="col">Currency Name </th>
                <th scope="col">Currency Symbol</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>EGP</td>
                <td>jkk</td>
                <td>ddvvv</td>
                <td><i data-feather="edit" class="btn-outline-success" [size]="24"></i><i data-feather="x-circle" class="btn-outline-danger" [size]="24"></i></td>
            </tr>
        </tbody>
    </table>
