form{
    background: #fff;
    border-radius: 20px;
    margin:3px ;
    padding-top: 20px;
}
#flexCheck{
    background-color:white;
    color: blue;
    
}
input[checkbox]{
    border: 1px solid blue;
}