<body>
    <h2>Edit Permission</h2>
   <hr>
   <form class="row col-md-12">
    <div class="col-md-12 row mb-3">
        <div class="form-group col-md-6">
            <label class="col-md-12 control-label" for="product_name">Role</label>
            <div class="col-md-12">
                <input id="product_name" name="productname" placeholder="Enter Role Name" class="form-control input-md"
                    required type="text" formControlName="productname">
                
            </div>       
</div>
<div class="form-group col-md-6">
<label class="col-md-12 control-label" for="product_id">Role Description</label>
<div class="col-md-12">
    <input id="product_id" name="product_id" placeholder="Enter Role Description" class="form-control input-md"
        required="" type="text" formControlName="productid">
</div>
</div>
<div class="form-group col-md-4">
    <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">User Management</div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckDefault">
Edit        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
        <label class="form-check-label" for="flexCheckChecked">
          View
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckChecked">
        create
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckChecked">
         delete
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckChecked">
          View all records of all Users
        </label>
      </div>
</div>
    <div class="form-group col-md-4">
    <div style="background-color: rgb(243, 241, 241); padding: 18px;font-weight: bold;text-align: center; margin-bottom: 8px;">User Permission</div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckDefault">
Edit        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckChecked">
          View
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
        <label class="form-check-label" for="flexCheckChecked">
        create
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckChecked">
         delete
        </label>
      </div>
      
    </div>
    <div class="form-group col-md-4">
    <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Products</div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckDefault">
Edit        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
        <label class="form-check-label" for="flexCheckChecked">
          View
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
        <label class="form-check-label" for="flexCheckChecked">
        create
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
        <label class="form-check-label" for="flexCheckChecked">
         delete
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
        <label class="form-check-label" for="flexCheckDefault">Barcode  </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
        <label class="form-check-label" for="flexCheckDefault">
Import Products      </label>
      </div>
    </div>
    <div class="form-group col-md-4">
        <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Adjustment</div>
    
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
            <label class="form-check-label" for="flexCheckDefault">
    Edit        </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
            <label class="form-check-label" for="flexCheckChecked">
              View
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
            <label class="form-check-label" for="flexCheckChecked">
            create
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
            <label class="form-check-label" for="flexCheckChecked">
             delete
            </label>
          </div>
         
    </div>
        <div class="form-group col-md-4">
        <div style="background-color: rgb(243, 241, 241); padding: 18px;font-weight: bold;text-align: center; margin-bottom: 8px;">Transfer</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
            <label class="form-check-label" for="flexCheckDefault">
    Edit        </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
            <label class="form-check-label" for="flexCheckChecked">
              View
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
            <label class="form-check-label" for="flexCheckChecked">
            create
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
            <label class="form-check-label" for="flexCheckChecked">
             delete
            </label>
          </div>
          
        </div>
        <div class="form-group col-md-4">
        <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Expenses</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
            <label class="form-check-label" for="flexCheckDefault">
    Edit        </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
            <label class="form-check-label" for="flexCheckChecked">
              View
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
            <label class="form-check-label" for="flexCheckChecked">
            create
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
            <label class="form-check-label" for="flexCheckChecked">
             delete
            </label>
          </div>
          
        </div>

        <div class="form-group col-md-4">
            <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Sales</div>
        
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                <label class="form-check-label" for="flexCheckDefault">
        Edit        </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                <label class="form-check-label" for="flexCheckChecked">
                  View
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                <label class="form-check-label" for="flexCheckChecked">
                create
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                <label class="form-check-label" for="flexCheckChecked">
                 delete
                </label>
              </div>
             
        </div>
            <div class="form-group col-md-4">
            <div style="background-color: rgb(243, 241, 241); padding: 18px;font-weight: bold;text-align: center; margin-bottom: 8px;">Purchases</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                <label class="form-check-label" for="flexCheckDefault">
        Edit        </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                <label class="form-check-label" for="flexCheckChecked">
                  View
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                <label class="form-check-label" for="flexCheckChecked">
                create
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                <label class="form-check-label" for="flexCheckChecked">
                 delete
                </label>
              </div>
              
            </div>
            <div class="form-group col-md-4">
            <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Quotations</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                <label class="form-check-label" for="flexCheckDefault">
        Edit        </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                <label class="form-check-label" for="flexCheckChecked">
                  View
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                <label class="form-check-label" for="flexCheckChecked">
                create
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                <label class="form-check-label" for="flexCheckChecked">
                 delete
                </label>
              </div>
            </div>

            <div class="form-group col-md-4">
                <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Sales Return</div>
            
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                    <label class="form-check-label" for="flexCheckDefault">
            Edit        </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                    <label class="form-check-label" for="flexCheckChecked">
                      View
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                    <label class="form-check-label" for="flexCheckChecked">
                    create
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                    <label class="form-check-label" for="flexCheckChecked">
                     delete
                    </label>
                  </div>
                 
            </div>
                <div class="form-group col-md-4">
                <div style="background-color: rgb(243, 241, 241); padding: 18px;font-weight: bold;text-align: center; margin-bottom: 8px;">Purchases Return</div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                    <label class="form-check-label" for="flexCheckDefault">
            Edit        </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                    <label class="form-check-label" for="flexCheckChecked">
                      View
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                    <label class="form-check-label" for="flexCheckChecked">
                    create
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                    <label class="form-check-label" for="flexCheckChecked">
                     delete
                    </label>
                  </div>
                  
                </div>
                <div class="form-group col-md-4">
                <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Payment Sales</div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                    <label class="form-check-label" for="flexCheckDefault">
            Edit        </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                    <label class="form-check-label" for="flexCheckChecked">
                      View
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                    <label class="form-check-label" for="flexCheckChecked">
                    create
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                    <label class="form-check-label" for="flexCheckChecked">
                     delete
                    </label>
                  </div>
                </div>

                <div class="form-group col-md-4">
                    <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Payments Purchases</div>
                
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                        <label class="form-check-label" for="flexCheckDefault">
                Edit        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                        <label class="form-check-label" for="flexCheckChecked">
                          View
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                        <label class="form-check-label" for="flexCheckChecked">
                        create
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                        <label class="form-check-label" for="flexCheckChecked">
                         delete
                        </label>
                      </div>
                     
                </div>
                    <div class="form-group col-md-4">
                    <div style="background-color: rgb(243, 241, 241); padding: 18px;font-weight: bold;text-align: center; margin-bottom: 8px;">Payments Returns</div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                        <label class="form-check-label" for="flexCheckDefault">
                Edit        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                        <label class="form-check-label" for="flexCheckChecked">
                          View
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                        <label class="form-check-label" for="flexCheckChecked">
                        create
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                        <label class="form-check-label" for="flexCheckChecked">
                         delete
                        </label>
                      </div>
                      
                    </div>
                    <div class="form-group col-md-4">
                    <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Customer List</div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                        <label class="form-check-label" for="flexCheckDefault">
                Edit        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                        <label class="form-check-label" for="flexCheckChecked">
                          View
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                        <label class="form-check-label" for="flexCheckChecked">
                        create
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                        <label class="form-check-label" for="flexCheckChecked">
                         delete
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                        <label class="form-check-label" for="flexCheckChecked">
                        Import Customers
                        </label>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Supplier List</div>
                    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckDefault">
                    Edit        </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                            <label class="form-check-label" for="flexCheckChecked">
                              View
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                            create
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             delete
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             Import Suppliers
                            </label>
                          </div>
                         
                    </div>
                        <div class="form-group col-md-4">
                        <div style="background-color: rgb(243, 241, 241); padding: 18px;font-weight: bold;text-align: center; margin-bottom: 8px;">Reports</div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckDefault">
                           Reports Payments Sales </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                              Reports Payments Purchases
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                            <label class="form-check-label" for="flexCheckChecked">
                            Reports Sale Return Payments
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             Reports Purchases Return Payments
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             Sale Report
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             Purchase Report
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             Customer Report
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             Supplier Report
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             Profit and Loss
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                             Product Quantity Alerts
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckChecked">
                                       Warehouse Stock Chart</label>
                          </div>
                          
                        </div>
                        <div class="form-group col-md-4">
                        <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center; margin-bottom: 8px;">Settings</div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck">
                            <label class="form-check-label" for="flexCheckDefault">
                    System Settings   </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                            <label class="form-check-label" for="flexCheckChecked">
                              Brand 
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                            <label class="form-check-label" for="flexCheckChecked">
                            Warehouse
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                            <label class="form-check-label" for="flexCheckChecked">
                             Backup
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                            <label class="form-check-label" for="flexCheckChecked">
                            Category
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                            <label class="form-check-label" for="flexCheckChecked">
                            Currency
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="userManagement" id="flexCheck" >
                            <label class="form-check-label" for="flexCheckChecked">
                             Unit
                            </label>
                          </div>
                        </div>

                        <div class="form-group col-md-12 mt-3">
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                            </div>
                            </div>
                            </div>

</form>
   </body>
    
