<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <h2>Product Details</h2>
    <hr />
    <div>
      <button type="button" class="btn btn-outline-primary">
        <i data-feather="printer"></i>Print
      </button>
    </div>

    <div class="row">
      <img
        src="https://www.thechecker.net/hubfs/images/barcode.png"
        width="180"
        height="110"
        class="mt-2"
      />
    </div>
    <div class="row col-md-12 d-flex justify-content-between">
      <div class="col-md-7">
        <table class="table table-hover table-bordered">
          <ng-container *ngIf="product">
            <tbody class="table-group-divider">
              <tr>
                <td>Code Product</td>
                <td>{{ product.code }}</td>
              </tr>
              <tr>
                <td>Product</td>
                <td>{{ product.name }}</td>
              </tr>
              <tr>
                <td>Category</td>
                <td>{{ product.category }}</td>
              </tr>
              <tr>
                <td>Brand</td>
                <td>{{ product.brand }}</td>
              </tr>
              <tr>
                <td>Cost</td>
                <td>{{ product.cost }}</td>
              </tr>
              <tr>
                <td>Price</td>
                <td>{{ product.price }}</td>
              </tr>
              <tr>
                <td>Unit</td>
                <td>{{ product.unit.name }}</td>
              </tr>
              <tr>
                <td>Tax</td>
                <td>{{ product.tax_cost }}</td>
              </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
      <div class="col-md-5 text-center">
        <img
          src="https://community.atlassian.com/t5/image/serverpage/image-id/127481i2A3E643B5F41B152?v=v2"
          width="300"
          height="300"
        />
      </div>
    </div>

    <div class="row col-md-12 d-flex justify-content-between">
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Warehouse</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <ng-container *ngIf="product">
            <tbody class="table-group-divider">
              <tr>
                <td>الرئيسي</td>
                <td>  -  </td>
              </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Warehouse</th>
              <th scope="col">Variant</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td>الرئيسي</td>
              <td>L</td>
              <td>0.00 م</td>
            </tr>
            <tr>
              <td>الرئيسي</td>
              <td>L</td>
              <td>0.00 م</td>
            </tr>
            <tr>
              <td>الرئيسي</td>
              <td>L</td>
              <td>0.00 م</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
