button{
    margin-left: 5px;
}
table{
    margin-top: 30px;
}
body{
    border-radius: 20px;
    padding: 20px;
    background: white;
}

select{
    border-radius: 5px;
    padding: 7px;
    border: 1px gainsboro solid;
}