<body>
    <h2>Users management
    </h2>
    <hr>
    <div class="container row">
        <div class="col-md-6">
            <form class="form-inline col-md-12 mb-1">
                <span class="switch-icon-left"><i data-feather="search"></i></span>
                <input class="form-control form-control ml-1 fs-5 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="col-md-6 ">
            <button type="button" class="btn btn-outline-primary "><i data-feather="filter"></i>Filter</button>
            <button type="button" class="btn btn-outline-success "><i data-feather="file-text"></i>PDF</button>
            <button type="button" class="btn btn-outline-danger "><i data-feather="file-text"></i>EXCEL</button>
            <button type="button" class="btn btn-secondary" (click)="openModal(contentModal)"><i
                    data-feather="plus-circle"></i>Create</button>
            <!-- Modal -->
            <ng-template #contentModal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-primary-title">Create</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body centered">
                    <form class="row col-md-12" [formGroup]="createuser" (ngSubmit)="formSubmit()">
                        <div class="form-group col-md-6">
                            <label class="col-md-12 control-label " for="firstName">First Name</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="text" placeholder="first Name"
                                    aria-label="Date" id="firstName" name="firstName" formControlName="firstName">
                                <div id="firstName"
                                    *ngIf="createuser.controls['firstName'].touched &&createuser.controls['firstName'].invalid"
                                    class="form-text text-danger">
                                    <small *ngIf="createuser.controls['firstName'].errors?.['required']">This field
                                        is
                                        required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 control-label " for="LastName">Last Name</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="text" placeholder="last Name"
                                    aria-label="Date" id="lastName" name="lastName" formControlName="lastName">
                                <div id="lastName"
                                    *ngIf="createuser.controls['lastName'].touched &&createuser.controls['lastName'].invalid"
                                    class="form-text text-danger">
                                    <small *ngIf="createuser.controls['lastName'].errors?.['required']">This field
                                        is
                                        required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 control-label " for="userName">User Name</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="text" placeholder="user Name"
                                    aria-label="Date" id="userName" name="userName" formControlName="userName">
                                <div id="userName"
                                    *ngIf="createuser.controls['userName'].touched &&createuser.controls['userName'].invalid"
                                    class="form-text text-danger">
                                    <small *ngIf="createuser.controls['userName'].errors?.['required']">This field
                                        is
                                        required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " for="Email">Email</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="email" placeholder="email"
                                    aria-label="Date" id="email" name="email" formControlName="email">
                                <div id="email"
                                    *ngIf="createuser.controls['email'].touched &&createuser.controls['email'].invalid"
                                    class="form-text text-danger">
                                    <small *ngIf="createuser.controls['email'].errors?.['required']">This field
                                        is
                                        required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " for="phone">Phone</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="text" placeholder="phone"
                                    aria-label="Date" id="phone" name="phone" formControlName="phone">
                                <div id="phone"
                                    *ngIf="createuser.controls['phone'].touched &&createuser.controls['phone'].invalid"
                                    class="form-text text-danger">
                                    <small *ngIf="createuser.controls['phone'].errors?.['required']">This field
                                        is
                                        required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " for="password">Password</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="password"
                                    placeholder="password" aria-label="Date" id="password" name="password"
                                    formControlName="password">
                                <div id="password"
                                    *ngIf="createuser.controls['password'].touched &&createuser.controls['password'].invalid"
                                    class="form-text text-danger">
                                    <small *ngIf="createuser.controls['password'].errors?.['required']">This field
                                        is
                                        required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-8 control-label " for="Role">Role</label>
                            <div class="col-md-12 ">
                                <select class="form-select col-md-12 " aria-label="Default select example">
                                    <option selected>Pleses select menu</option>
                                    <option>Owner</option>
                                    <option>Manger</option>
                                    <option>Chasier</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 control-label " for="image">User Image</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="file" placeholder="image"
                                    aria-label="Date" id="image" name="image" formControlName="image">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </ng-template>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">last Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">phone</th>
                <th scope="col">status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>kjdlk</td>
                <td>jkkkfr</td>
                <td>019393</td>
                <td>s@s.com</td>
                <td>12dff</td>
                <td>
                    <div class="custom-control custom-switch custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" />
                        <label class="custom-control-label" for="customSwitch1"></label>
                    </div>

                </td>
                <td><button class="btn btn-sm btn-success" (click)="openModal2(contentModal2)" ><i data-feather="edit" [size]="24" >
                </i></button></td>  
                  <!-- Modal2 -->
              <ng-template #contentModal2 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-primary-title">Edit</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body centered">
                    <form class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label class="col-md-12 control-label " for="firstName">First Name</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="text" placeholder="first Name"
                                    aria-label="Date" id="firstName" name="firstName" formControlName="firstName">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 control-label " for="LastName">Last Name</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="text" placeholder="last Name"
                                    aria-label="Date" id="lastName" name="lastName" formControlName="lastName">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 control-label " for="userName">User Name</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="text" placeholder="user Name"
                                    aria-label="Date" id="userName" name="userName" formControlName="userName">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " for="Email">Email</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="email" placeholder="email"
                                    aria-label="Date" id="email" name="email" formControlName="email">
                               
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " for="phone">Phone</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="text" placeholder="phone"
                                    aria-label="Date" id="phone" name="phone" formControlName="phone">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " for="password">Password</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="password"
                                    placeholder="password" aria-label="Date" id="password" name="password"
                                    formControlName="password">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-8 control-label " for="Role">Role</label>
                            <div class="col-md-12 ">
                                <select class="form-select col-md-12 " aria-label="Default select example">
                                    <option selected>Pleses select menu</option>
                                    <option>Owner</option>
                                    <option>Manger</option>
                                    <option>Chasier</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 control-label " for="image">User Image</label>
                            <div class="col-md-12 ">
                                <input class="form-control form-control col-md-12" type="file" placeholder="image"
                                    aria-label="Date" id="image" name="image" formControlName="image">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>

            </tr>
        </tbody>
    </table>
    <ngb-pagination  class="d-flex justify-content-end" [collectionSize]="50" [(page)]="pageBasicText" aria-label="Custom pagination">
        <ng-template ngbPaginationPrevious
          ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
        </ng-template>
        <ng-template ngbPaginationNext
          >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
        </ng-template>
      </ngb-pagination>
</body>