button{
    margin-left: 5px;
}
table{
    margin-top: 30px;
}
body{
    border-radius: 20px;
    padding: 20px;
    background: white;
}

.toggle-btn {
    width: 40px;
    height: 21px;
    background: grey;
    border-radius: 50px;
    padding: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s 0.1s ease-in-out;
    -moz-transition: all 0.3s 0.1s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s 0.1s ease-in-out;
  }
  
  .toggle-btn > .inner-circle {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: all 0.3s 0.1s ease-in-out;
    -moz-transition: all 0.3s 0.1s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s 0.1s ease-in-out;
  }
  
  .toggle-btn.active {
    background: blue !important;
  }
  
  .toggle-btn.active > .inner-circle {
    margin-left: 19px;
  }