<body>
    <h2>Create Permission</h2>
   <hr>
   <form class="row col-md-12">
    <div class="col-md-12 row">
        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="product_name">Role</label>
            <div class="col-md-12">
                <input id="product_name" name="productname" placeholder="Enter Role Name" class="form-control input-md"
                    required type="text" formControlName="productname">
                
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-8 control-label" for="product_id">Role Description</label>
            <div class="col-md-12">
                <input id="product_id" name="product_id" placeholder="Enter Role Description" class="form-control input-md"
                    required="" type="text" formControlName="productid">
                
            </div>
        </div>

        <div class="form-group col-md-4">
        <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center;">User Management</div>

        </div>
        <div class="form-group col-md-4">
            <div style="background-color: rgb(243, 241, 241); padding: 18px;font-weight: bold;text-align: center;">User Permission</div>

        </div>
        <div class="form-group col-md-4">
            <div style="background-color: rgb(243, 241, 241); padding: 18px; font-weight: bold;text-align: center;">Products</div>
            
        </div>

</div> 
</form>
   </body>
    