<body>

  <h2>Edit Expence
  </h2>
  <hr>
  <form class="row col-md-12" [formGroup]="editexpence" (ngSubmit)="update(data)">
    <div class="col-md-12 row">

      <!-- date -->
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label " for="category">Date</label>
        <div class="col-md-12 ">
          <input class="form-control form-control col-md-11" type="date" placeholder="Date" aria-label="Date"
            formControlName="date" [(ngModel)]="data.date" ngModel>

          <div id="datet"
            *ngIf="editexpence.controls['date'].touched &&editexpence.controls['date'].invalid || submitted && editexpence.controls['date'].invalid"
            class="form-text text-danger">
            <small *ngIf="editexpence.controls['date'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.date">{{errors?.date}}</small>
          </div>
        </div>
      </div>

      <!-- warehouse -->
      <div class="form-group col-md-4">
        <label class="col-md-8 control-label " for="category"> Warehouse</label>
        <div class="col-md-12 ">
          <select class="form-select col-md-12 " aria-label="Default select example" formControlName="warehouse_id">
            <option *ngFor="let item of WarehousArray" [value]="item.id" >

              {{ item.name }}

            </option>
          </select>

          <div id="warehouse_id"
            *ngIf="editexpence.controls['warehouse_id'].touched &&editexpence.controls['warehouse_id'].invalid || submitted && editexpence.controls['warehouse_id'].invalid"
            class="form-text text-danger">
            <small *ngIf="editexpence.controls['warehouse_id'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.warehouse_id">{{errors?.warehouse_id}}</small>
          </div>
        </div>
      </div>

      <!-- expense category -->
      <div class="form-group col-md-4">
        <label class="col-md-8 control-label " for="expense_category_id">Expence Warehouse</label>
        <div class="col-md-12 ">
          <select class="form-select col-md-12 " aria-label="Default select example"
            formControlName="expense_category_id">
            <option *ngFor="let item of expenseCategories" [value]="item.id">
              {{ item.name }}
            </option>
          </select>

          <div id="expense_category_id"
            *ngIf="editexpence.controls['expense_category_id'].touched &&editexpence.controls['expense_category_id'].invalid || submitted && editexpence.controls['expense_category_id'].invalid"
            class="form-text text-danger">
            <small *ngIf="editexpence.controls['expense_category_id'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.expense_category_id">{{errors?.expense_category_id}}</small>
          </div>
        </div>
      </div>

      <!-- amount -->
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label " for="amount">Amount</label>
        <div class="col-md-12 ">
          <input class="form-control col-md-11" type="text" placeholder="Amount" aria-label="Date" id="amount"
            name="amount" formControlName="amount" [(ngModel)]="data.amount" ngModel>
          <div id="amount"
            *ngIf="editexpence.controls['amount'].touched &&editexpence.controls['amount'].invalid || submitted && editexpence.controls['amount'].invalid"
            class="form-text text-danger">
            <small *ngIf="editexpence.controls['amount'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.amount">{{errors?.amount}}</small>
          </div>
        </div>
      </div>

      <!-- Details -->
      <div class="form-group col-md-8 ">
        <label for="exampleFormControlTextarea1" class="form-label ">Details</label>
        <textarea class="form-control " id="note" rows="3" formControlName="note" name="note"
          formControlName="details"></textarea>

        <div id="details"
          *ngIf="editexpence.controls['details'].touched &&editexpence.controls['details'].invalid || submitted && editexpence.controls['details'].invalid"
          class="form-text text-danger">
          <small *ngIf="editexpence.controls['details'].errors?.['required']">This field is
            required</small>
        </div>

        <div class="form-text text-danger">
          <small *ngIf="errors?.details">{{errors?.details}}</small>
        </div>

      </div>
    </div>



    <div class="form-group col-md-12">
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </form>
</body>