<body>
    <h2>Edit Sale</h2>
    <hr>
    <form class="row col-md-12" 
    [formGroup]="editsale" 
    (ngSubmit)="update(data)">
        <div class="col-md-12 row">
            
        <div class="form-group col-md-4">
            <label class="col-md-4 control-label " for="category">Date</label>
            <div class="col-md-12 ">
                <input class="form-control form-control col-md-11" type="date" placeholder="Date" aria-label="Date"
                formControlName="date" [(ngModel)]="data.date" ngModel>
                <div id="datet"
                *ngIf="editsale.controls['date'].touched &&editsale.controls['date'].invalid || submitted && editsale.controls['date'].invalid"
                class="form-text text-danger">
                <small *ngIf="editsale.controls['date'].errors?.['required']">This field is
                  required</small>
              </div>
    
              <div class="form-text text-danger">
                <small *ngIf="errors?.date">{{errors?.date}}</small>
              </div>
            </div>
          </div>
        <div class="form-group col-md-4">
            <label class="col-md-8 control-label " for="category">Customer</label>
            <div class="col-md-12 ">
                <select class="form-select col-md-12 " aria-label="Default select example">
                    <option *ngFor="let item of ClientArray" [value]="item.id" >
                        {{ item.name }}
                </select>
            </div>
            <div id="client"
            *ngIf="editsale.controls['client'].touched &&editsale.controls['client'].invalid || submitted && editsale.controls['client'].invalid"
            class="form-text text-danger">
            <small *ngIf="editsale.controls['client'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.client">{{errors?.client}}</small>
          </div>
        </div>
         <!-- warehouse -->
      <div class="form-group col-md-4">
        <label class="col-md-8 control-label " for="category"> Warehouse</label>
        <div class="col-md-12 ">
          <select class="form-select col-md-12 " aria-label="Default select example">
            <option *ngFor="let item of WarehousArray" [value]="item.id" >

              {{ item.name}}

            </option>
          </select>

          <div id="warehouse_name"
            *ngIf="editsale.controls['warehouse_name'].touched &&editsale.controls['warehouse_name'].invalid || submitted && editsale.controls['warehouse_name'].invalid"
            class="form-text text-danger">
            <small *ngIf="editsale.controls['warehouse_name'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.warehouse_name">{{errors?.warehouse_name}}</small>
          </div>
        </div>
      </div>
      </div>

    <div class="col-md-12 row">
        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="tax_rate">Order Tax</label>
            <div class="col-md-12">
                <input id="tax_rate" name="tax_rate" placeholder="0" class="form-control input-md" required=""
                    type="text" formControlName="tax_rate" [(ngModel)]="data.tax_rate" ngModel>
            </div>
            <div id="tax_rate"
            *ngIf="editsale.controls['tax_rate'].touched &&editsale.controls['tax_rate'].invalid || submitted && editsale.controls['tax_rate'].invalid"
            class="form-text text-danger">
            <small *ngIf="editsale.controls['tax_rate'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.tax_rate">{{errors?.tax_rate}}</small>
          </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="discount">Discount</label>
            <div class="col-md-12">
                <input id="discount" name="discount" placeholder="0" class="form-control input-md" required=""
                    type="text" formControlName="discount" [(ngModel)]="data.discount" ngModel>
            </div>
            <div id="discount"
            *ngIf="editsale.controls['discount'].touched &&editsale.controls['discount'].invalid || submitted && editsale.controls['discount'].invalid"
            class="form-text text-danger">
            <small *ngIf="editsale.controls['discount'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.discount">{{errors?.discount}}</small>
          </div>
        </div>

        <div class="form-group col-md-4">
            <label class="col-md-8 control-label" for="shipping">Shipping</label>
            <div class="col-md-12">
                <input id="shipping" name="shipping" placeholder="0" class="form-control input-md" required=""
                    type="text" formControlName="shipping" [(ngModel)]="data.shipping" ngModel>
            </div>
            <div id="shipping"
            *ngIf="editsale.controls['shipping'].touched &&editsale.controls['shipping'].invalid || submitted && editsale.controls['shipping'].invalid"
            class="form-text text-danger">
            <small *ngIf="editsale.controls['shipping'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.shipping">{{errors?.shipping}}</small>
          </div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-md-8 control-label " for="status">Status</label>
            <div class="col-md-12 ">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="status" [(ngModel)]="data.status" ngModel>
                    <option >

                        {{ data.status }}
          
                      </option>
                </select>
            </div>
            <div id="status"
            *ngIf="editsale.controls['status'].touched &&editsale.controls['status'].invalid || submitted && editsale.controls['status'].invalid"
            class="form-text text-danger">
            <small *ngIf="editsale.controls['status'].errors?.['required']">This field is
              required</small>
          </div>

          <div class="form-text text-danger">
            <small *ngIf="errors?.status">{{errors?.status}}</small>
          </div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-md-8 control-label " for="payment_status">Payment Status</label>
            <div class="col-md-12 ">
                <select class="form-select col-md-12 " aria-label="Default select example" formControlName="payment_status" [(ngModel)]="data.payment_status" ngModel>
                    <option >

                        {{ data.payment_status }}
                </select>
            </div>
        </div>
        <div id="payment_status"
        *ngIf="editsale.controls['payment_status'].touched &&editsale.controls['payment_status'].invalid || submitted && editsale.controls['payment_status'].invalid"
        class="form-text text-danger">
        <small *ngIf="editsale.controls['payment_status'].errors?.['required']">This field is
          required</small>
      </div>

      <div class="form-text text-danger">
        <small *ngIf="errors?.payment_status">{{errors?.payment_status}}</small>
      </div>
    </div>
   <!-- Note -->
   <div class="form-group col-md-8 ">
    <label for="exampleFormControlTextarea1" class="form-label ">Note</label>
    <textarea class="form-control " id="notes" rows="3" 
    formControlName="notes" name="notes"
     [(ngModel)]="data.notes" ngModel >
    
     {{ data.notes }}
    </textarea>

    <div id="notes"
      *ngIf="editsale.controls['notes'].touched &&editsale.controls['notes'].invalid || submitted && editsale.controls['notes'].invalid"
      class="form-text text-danger">
      <small *ngIf="editsale.controls['notes'].errors?.['required']">This field is
        required</small>
    </div>

    <div class="form-text text-danger">
      <small *ngIf="errors?.notes">{{errors?.notes}}</small>
    </div>

  </div>
    <div class="form-group col-md-12">
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

</body>